/* SOCIAL MEDIA LINKS */
.social-media {
    &__item {
        font-size: 1.8rem;
        padding-right: 16px;
    }
}

.linkedin-icon {
  color: $linked-icon-color;
}

.whatssap-icon {
  color: $whatssap-icon-color;
}
